
body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
.profile-image{
	border-radius:50%
}

#wrapper { 
 margin: 0 auto;
 width: 700px;
}
#header {
 padding: 10px;
}
#navigation {
 float: left;
 width: 700px;
 color: #333;
 padding: 10px;
 border: 1px solid #ccc;
 margin: 0px 0px 5px 0px;
 background-color:#F3F2ED;
}
#leftcolumn { 
 color: #333;
 border: 1px solid #ccc;
 margin: 0px 5px 5px 0px;
 padding: 10px;
 height: 280px;
 width: 700px;
 float: left;
 background:#CCC8B3;
}
#rightcolumn { 
 float: right;
 color: #333;
 border: 1px solid #ccc;
 margin: 0px 0px 5px 0px;
 padding: 10px;
 height: 350px;
 width: 195px;
 display: inline;
 background:#F6F0E0;
}
#footer { 
 width: 700px;
 clear: both;
 color: #333;
 border: 1px solid #ccc;
 background-color:#F3F2ED;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}
.slider-gr{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    overflow: hidden; /* ���� �����̵� �����ʿ� ��ġ�� ������ �����̵� ���� ������ �ʵ��� ���� */
}
.slider-gr input[type=radio]{
    display: none;
}
ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;    
}
ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s; /* �� �����̵尡 �̵��� ���� ���� ���� �����̵� �̹����� ����� ���̵��� ���� */

    padding: 0;
    margin: 0;
}
.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* ���� ���õ� �Ҹ� ��� ������� ���� ǥ�� */
.slider-gr input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider-gr input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider-gr input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider-gr input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}
.slider-gr input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider-gr input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider-gr input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider-gr input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
}



