<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="con.ezen.carCamping.model.carMapper">
	<!-- CarCampingRegion Mapping -->
	<resultMap type="RegionDTO"	 id="regionMap">
		<id column="region_num" property="region_num"/>
		<result column="region_name" property="region_name"/>
	</resultMap>
	
	<resultMap type="CarCampingRegionDTO" id="carCampingRegionMap">
		<id column="ccr_num" property="ccr_num"/>
		<result column="ccr_name" property="ccr_name"/>
		<result column="ccr_car" property="ccr_car"/>
		<result column="ccr_pricePerDay" property="ccr_pricePerDay"/>
		<result column="ccr_toilet" property="ccr_toilet"/>
		<result column="ccr_restroom" property="ccr_restroom"/>
		<result column="ccr_water" property="ccr_water"/>
		<result column="ccr_market" property="ccr_market"/>
		<result column="ccr_river" property="ccr_river"/>
		<result column="ccr_ground" property="ccr_ground"/>
		<result column="ccr_reviewCount" property="ccr_reviewCount"/>
		<result column="ccr_likeCount" property="ccr_likeCount"/>
		<result column="ccr_score" property="ccr_score"/>
		<result column="ccr_popular" property="ccr_popular"/>
		<result column="ccr_viewImage1" property="ccr_viewImage1"/>
		<result column="ccr_viewImage2" property="ccr_viewImage2"/>
		<result column="ccr_viewImage3" property="ccr_viewImage3"/>
		<result column="ccr_viewImage4" property="ccr_viewImage4"/>
		<result column="ccr_viewImage5" property="ccr_viewImage5"/>
		<result column="ccr_summary" property="ccr_summary"/>
		<result column="ccr_content" property="ccr_content"/>
		<association property="regionDTO" javaType="RegionDTO" resultMap="regionMap">
		</association>
	</resultMap>

	<select id="adminListRegion" resultType="RegionDTO">
		select * from Region 
	</select>
	
	<select id="adminListCarCampingRegion" resultMap="carCampingRegionMap">
		select a.*,b.region_name from CarCampingRegion a join Region b on a.region_num=b.region_num
	</select>
	
	<select id="adminListCarCampingRegionSelectRegion" resultMap="carCampingRegionMap">
		select a.*,b.region_name from CarCampingRegion a join Region b on a.region_num=b.region_num where a.region_num = #{region_num}
	</select>
	
	<insert id="adminInsertRegion" parameterType="CarCampingRegionDTO">
		insert into CarCampingRegion(region_num,ccr_name,ccr_car,ccr_pricePerDay,ccr_toilet,ccr_restroom,ccr_water,ccr_market,ccr_river,ccr_ground,ccr_reviewCount,
		ccr_likeCount,ccr_score,ccr_popular,ccr_viewImage1,ccr_viewImage2,ccr_viewImage3,ccr_viewImage4,ccr_viewImage5,ccr_summary,ccr_content) 
		values(#{regionDTO.region_num},#{ccr_name},#{ccr_car},#{ccr_pricePerDay},#{ccr_toilet},
		#{ccr_restroom},#{ccr_water},#{ccr_market},#{ccr_river},#{ccr_ground},0, 0, 0.0, 1,#{ccr_viewImage1},
		#{ccr_viewImage2},#{ccr_viewImage3},#{ccr_viewImage4},#{ccr_viewImage5},#{ccr_summary},#{ccr_content})
	</insert>
	
	<update id="adminUpdateRegion" parameterType="CarCampingRegionDTO">
		update CarCampingRegion set ccr_num=#{ccr_num},ccr_car=#{ccr_car},ccr_pricePerDay=#{ccr_pricePerDay},ccr_toilet=#{ccr_toilet},
		ccr_restroom=#{ccr_restroom},ccr_water=#{ccr_water},ccr_market=#{ccr_market},ccr_river=#{ccr_river},ccr_ground=#{ccr_ground},
		ccr_summary=#{ccr_summary},ccr_content=#{ccr_content},
		ccr_viewImage1=#{ccr_viewImage1},ccr_viewImage2=#{ccr_viewImage2},ccr_viewImage3=#{ccr_viewImage3},ccr_viewImage4=#{ccr_viewImage4},ccr_viewImage5=#{ccr_viewImage5},
		ccr_popular=#{ccr_popular} where ccr_num = #{ccr_num}
	</update>
	
	<delete id="adminDeleteRegion" parameterType="int">
		delete from CarCampingRegion where ccr_num = #{ccr_num} 
	</delete>
	
	<select id="adminGetCarCampingRegion" parameterType="int" resultMap="carCampingRegionMap">
		select a.*,b.region_name from CarCampingRegion a join Region b on a.region_num=b.region_num where ccr_num = #{ccr_num}
	</select>
	
	<!-- //////////////////////////////////////대리점////////////////////////////// -->
	<resultMap type="AgencyDTO" id="agencyMap">
		<id column="agency_num" property="agency_num"/>
		<result column="agency_location" property="agency_location"/>
		<result column="agency_name" property="agency_name"/>
		<result column="agency_phone" property="agency_phone"/>
		<association property="regionDTO" javaType="regionDTO" resultMap="regionMap"></association>
	</resultMap>
	
	<select id="adminListAgency" resultMap="agencyMap">
		select a.*,b.region_name from Agency a join Region b on a.region_num = b.region_num
	</select>
	
	<select id="adminGetAgency" parameterType="int" resultMap="agencyMap">
		select a.*,b.region_name from Agency a join Region b on a.region_num = b.region_num where agency_num = #{agency_num}
	</select>
	
	<insert id="adminInsertAgency" parameterType="AgencyDTO">
		insert into Agency(region_num,agency_location,agency_name,agency_phone) values(#{regionDTO.region_num},#{agency_location},#{agency_name},#{agency_phone})
	</insert>
	
	<update id="adminUpdateAgency" parameterType="AgencyDTO">
		update Agency set agency_name=#{agency_name},agency_location=#{agency_location},agency_phone=#{agency_phone} where agency_num = #{agency_num}
	</update>
	
	<delete id="adminDeleteAgency" parameterType="int">
		delete from Agency where agency_num = #{agency_num}
	</delete>
	
	<!-- ///////////////////////////////카테고리////////////////////////////////////// -->
	<delete id="adminDeleteBrand" parameterType="int">
		delete from BrandCategory where brand_num = #{brand_num}
	</delete>
	<delete id="adminDeleteProductCategory" parameterType="int">
		delete from ProductCategory where pc_num = #{pc_num}
	</delete>
	
</mapper>