<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 	
<mapper namespace="com.ezen.carCamping.model.myPageMapper">
<resultMap id="productCartMap" type="ProductCartDTO">
		<id column="cart_num" property="car_num"/>
		<result column="cart_prodCount" property="cart_prodCount"/>
		<result column="cart_from" property="cart_from"/>
		<result column="cart_to" property="cart_to"/>
		<association property="memberDTO" javaType="MemberDTO" resultMap="memberMap"/>
		<association property="productDTO" javaType="ProductDTO" resultMap="productMap"/>
		<association property="agencyDTO" javaType="AgencyDTO" resultMap="agencyMap"/>
	</resultMap>
 
	<select id="cartProduct" parameterType="int" resultType="ProductCartDTO"><!-- 용품을 장바구니에 추가만 하는 쿼리문 -->
	select a.*,b.prod_name,prod_price, c.agency_name from ProductCart as a left join Product as b on a.prod_num = b.prod_num left join Agency as c on a.agency_num = c.agency_num where a.mem_num = #{mem_num}
	</select>
	
	<insert id="insertCart" parameterType="ProductCartDTO">
		insert into ProductCart values(null, #{mem_num}, #{prod_num}, #{agency_num}, #{cart_prodCount}, #{cart_from}, #{cart_to})
	</insert>
	
	  <update id="updateCart" parameterType="ProductCartDTO">
		update ProductCart set cart_prodCount = #{cart_prodCount} where cart_from = #{cart_from} and cart_to = #{cart_to}
	</update>  
	
	<delete id="deleteCart" parameterType="int">
		delete from ProductCart where cart_num = #{cart_num}
	</delete>
<resultMap type="MemberDTO" id="memberMap">
		<id column="mem_num" property="mem_num"/>
		<result column="mem_id" property="mem_id"/>
		<result column="mem_email" property="mem_email"/>
		<result column="mem_password" property="mem_password"/>
		<result column="mem_userName" property="mem_userName"/>
		<result column="mem_nickName" property="mem_nickName"/>
		<result column="mem_phone" property="mem_phone"/>
		<result column="mem_birthday" property="mem_birthday"/>
		<result column="mem_gender" property="mem_gender"/>
		<result column="mem_point" property="mem_point"/>
		<result column="mem_rentalCount" property="mem_rentalCount"/>
		<result column="mem_sysdate" property="mem_sysdate"/>
		<result column="mem_accept_email" property="mem_accept_email"/>
		<result column="mem_accept_phone" property="mem_accept_phone"/>
		<result column="mem_accept_privacy" property="mem_accept_privacy"/>
		<result column="mem_denied" property="mem_denied"/>
		<result column="mem_image" property="mem_image"/>
		<result column="mem_summary" property="mem_summary"/>
		<result column="mem_introduce" property="mem_introduce"/>
		<result column="mem_reviewCount" property="mem_reviewCount"/>
		<association property="regionDTO" javaType="RegionDTO" resultMap="regionMap">
		</association>
	</resultMap>
		<resultMap type="RegionDTO"	 id="regionMap">
		<id column="region_num" property="region_num"/>
		<result column="region_name" property="region_name"/>
	</resultMap>
	
 	<resultMap id="questionMap" type="QuestionDTO">
		<id column="question_num" property="question_num"/>
		<result column="question_title" property="question_title"/>
		<result column="question_content" property="question_content"/>
		<result column="question_sysdate" property="question_sysdate"/>
		<result column="question_reply" property="question_reply"/>
		<result column="question_replySysdate" property="question_replySysdate"/>
		<association property="memberDTO" javaType="MemberDTO" resultMap="memberMap"/>
	</resultMap>
	<select id="myPageGetQuestion" resultMap="questionMap">
		select a.*,b.mem_id from Question a join Member b on a.mem_num=b.mem_num
	</select>
	<select id="myPageGetQuestionSelectMember"  resultMap="questionMap">
		select a.*,b.mem_id from Question a join Member b on a.mem_num = b.mem_num where a.mem_num= #{mem_num}
	</select>
	<insert id="insertQuestion" parameterType="questionDTO">
		insert into Question (mem_num, question_title, question_content, question_sysdate, question_reply, question_replySysdate)
		values (#{memberDTO.mem_num}, #{question_title},#{question_content},now(),null,null)
	</insert>
	<select id="getQuestion" parameterType="int" resultType="questionDTO">
		select * from Question where question_num = #{question_num}
	</select>
	
	<delete id="payCart" parameterType="int" >
		delete from ProductCart where mem_num = #{mem_num}
	</delete>
	
	<!-- <select id="sendRentLog" parameterType="int" >
		select 	
	</select> -->
	
	
	<!--  전용재 -->
	 <resultMap id="reviewProductMap" type="ReviewProductDTO">
		<id column="rp_num" property="rp_num"/>
		<result column="rp_title" property="rp_title"/>
		<result column="rp_sysdate" property="rp_sysdate"/>
		<result column="rp_summaryContent" property="rp_summaryContent"/>
		<result column="rp_content" property="rp_content"/>
		<result column="rp_score" property="rp_score"/>
		<result column="rp_image1" property="rp_image1"/>
		<result column="rp_image2" property="rp_image2"/>
		<result column="rp_image3" property="rp_image3"/>
		<result column="rp_image4" property="rp_image4"/>
		<result column="rp_image5" property="rp_image5"/>
		<result column="rp_popular" property="rp_popular"/>
		<result column="rp_readCount" property="rp_readCount"/>
		<result column="rp_likeCount" property="rp_likeCount"/>
		<result column="rp_adminConfirm" property="rp_adminConfirm"/>
		<association property="reviewproductlikelogDTO" javaType="ReviewProductLikeLogDTO" resultMap="reviewproductlikelogMap">
		</association>
		</resultMap>
	
	
	<!-- 용품리뷰 테이블이랑 용품리뷰 좋아요 테이블을 조인하는데 회원번호에 해당하는 데이터만 가져오면 된다 -->
	<select id ="ReviewProductList" resultType="ReviewProductDTO" parameterType="int">
		 select a.* ,b. mem_num from ReviewProduct a join ReviewProductLikeLog b on a.mem_num=b.mem_num where b.mem_num= #{mem_num}
	</select>
	
	
</mapper>






