<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 	
<mapper namespace="com.ezen.carCamping.model.myPageMapper"> 

	<select id="cartProduct" parameterType="int" resultType="ProductCartDTO">
		select a.*, b.* from ProductCart as a left join Product as b on a.prod_num = b.prod_num
	</select>

</mapper>