<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 	
 	
<mapper namespace="com.ezen.carCamping.model.productMapper"> 

	<select id="listProduct" resultType="ProductDTO">
	select * from Product
	</select>
	 
	<select id="findProduct" parameterType="java.util.Map" resultType="ProductDTO">
	select * from Product where ${search} = #{searchString}
	</select>
	
	<select id="popularProd" resultType="ProductDTO">
	select * from Product where prod_popular = 0
	</select>
	
	<select id="getProduct" parameterType="int" resultType="ProductDTO">
		select * from Product where prod_num = #{prod_num}
	</select>
	
	<select id="listProdReview" resultType="ReviewProductDTO">
		select * from ReviewProduct,Product where ReviewProduct.prod_num = #{prod_num} and ReviewProduct.prod_num = Product.prod_num
	</select>
	
	<select id="findProdReview" parameterType="java.util.Map" resultType="ReviewProductDTO">
		select * from ReviewProduct where ${search} = #{searchString}
	</select>
	
	
	
</mapper>

